<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autofill">


    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".background.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <service
            android:name=".background.dirtyRestart.TimingServiceDitry"
            android:enabled="true"
            android:exported="false"
            android:process=":remote"
            android:stopWithTask="false"/>

        <activity
            android:name=".ui.main.UpdataActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".setting.ViewSavedDataActivity"
            android:label="@string/title_saved_data"
            android:launchMode="singleTask"
            android:parentActivityName=".setting.SettingsActivity"
            tools:targetApi="jelly_bean">
            <intent-filter>

                <!-- 接收带有查看动作的intent，接收任何隐式intent -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.AUTOFILL_VIEW_SAVED_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 硬件加速，加载cardview -->
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>